[Unit]
Description = constatus

## Use the following to ensure constatus starts after the network is up.
After = network.target

[Service]
Type=simple

# A globally-writable directory
WorkingDirectory = /tmp

ExecStart = /usr/local/bin/constatus -c /etc/constatus/constatus.cfg -S

# Send STDOUT/STDERR to journal, view it with "journalctl"
StandardOutput = journal
StandardError = inherit

## Optional: run as specific user (otherwise will run as root).
#User=www-data
#Group=www-data

[Install]
WantedBy = multi-user.target
