Source: constatus
Maintainer: Folkert van Heusden <mail@vanheusden.com>
Section: graphics
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (= 12), libboost-system-dev, libconfig++-dev, libfontconfig1-dev, libfreetype6-dev, libicu-dev, libturbojpeg0-dev, libpng-dev, libcurl4-openssl-dev, libjansson-dev, libssl-dev, cmake, pkg-config, libv4l-dev, libnetpbm10-dev, libexiv2-dev, libmysqlcppconn-dev, frei0r-plugins-dev, libpam0g-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libwebsocketpp-dev, libsdl2-dev, rygel, rygel-2.6-dev, libglib2.0-dev, libxml2-dev, libgee-0.8-dev,libgupnp-av-1.0-dev,libupnp-dev, libasound2-dev, libmagick++-dev, libavformat-dev, libswscale-dev, libavcodec-dev, libavutil-dev, libswresample-dev, libavresample-dev, libatomic1
Homepage: https://www.vanheusden.com/constatus/

Package: constatus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Video monitoring and streaming program.
 It can detect motion, act on that. It can filter,
 merge streams, write to disk, send to v4l2-
 loopback, has an internal webserver and plugin
 interfaces.
