logfile = "test.log";
log-level = "warning";

resize-type = "regular";

instances = ({
	instance-name = "video input";

	source = {
		id = "1-1";
		descr = "libcamera";
		type = "libcamera";
		# # rpi:
		# device = "/base/soc/i2c0mux/i2c@1/imx219@10";
		# some laptop
		device = "\_SB_.PC00.XHCI.RHUB.HS08-8:1.0-5986:2170";
		# (see also output of 'list-libcamera')
		width = 1280;
		height = 720;
	}

	targets = ({
		id = "1-2";
		descr = "rtsp";
		format = "rtsp";
		listen-port = 8554;
		path = "";
		fps = 7.5;
		use-jpeg = true;
		follow-rfc = true;
	});
})

# output url will then be e.g.:
# http://localhost:8070/stream.mjpeg?inst=video%20input
global-http-server = (
	{
		id = "2-1";
		descr = "mjpeg out";
		listen-adapter = "0.0.0.0";
		listen-port = 8070;
		fps = 15.0;
		quality = 75;
		stylesheet = "stylesheet.css";
		time-limit = -1;
		resize-width = -1;
		resize-height = -1;
		motion-compatible = false;
		allow-admin = false;
		archive-access = false;
		is-rest = false;
	}
)
